// general scss
// o'zgaruvchilar
:root {
    $black: #282b22;
    $white: #fff;
    $grey: #282b22;
  }
  
  .header {
    max-width: 1600px;
    width: 100%;
    height: auto;
  }
  
  .header__logo-menu {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  
    ul {
      display: flex;
      gap: 40px;
  
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #282b22;
          font-family: "Raleway";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 16px */
        }
        a:hover {
          color: $black;
        }
      }
    }
  }
  
  .ulanishlar {
    display: flex;
    gap: 63px;
    justify-content: space-between;
    align-items: center;
  
    phone-number {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  
    a {
      text-decoration: none;
      color: #3d4a39;
      font-family: "Lato";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 20px */
      text-transform: uppercase;
      margin-bottom: 5px;
    }
  }
  
  // hero
  
  .hero__container {
    width: 1600px;
    height: 687px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) -13.19%,
        rgba(0, 0, 0, 0.85) 94.01%
      ),
      url(../img/bk-color.png);
  
    .hero__container--furniture {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h1 {
        color: $white;
        text-align: center;
        width: 446px;
        /* Заголовок_H1 */
        font-family: "Lato";
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 67.2px */
        text-transform: uppercase;
        margin-top: 120px;
      }
  
      p {
        width: 537px;
        color: #fff;
        text-align: center;
  
        /* text_18px (medium) */
        font-family: "Raleway";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
      }
  
      button {
        display: flex;
        width: 260px;
        padding: 22px 56px;
        align-items: flex-start;
        gap: 10px;
        border: none;
        background: #ae7b3c;
        box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);
        color: $white;
        /* text_botton */
        font-family: "Raleway";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 16px */
      }
  
      button:hover {
        transition: all 0.4s;
        border-radius: 8px;
        background-color: #cc9654;
      }
    }
    .line {
      width: 1200px;
      height: 3px;
      opacity: 0.4;
      background: $white;
      margin: 0 auto;
      margin-top: 120px;
    }
    .icons {
      width: 1200px;
      height: auto;
      margin: 25px auto;
      display: flex;
      justify-content: space-between;
  
      .symbol {
        display: flex;
        gap: 25px;
      }
    }
  
    .numbers {
      display: flex;
      gap: 15px;
  
      .doira {
        width: 32px;
        height: 32px;
        border: 2px solid rgb(169, 168, 168);
        color: $white;
        border-radius: 50%;
        //vscode-app/c:/Users/MEDIA%20PARK/Desktop/Microsoft%20VS%20Code/resources/app/out/vs/code/electron-sandbox/workbench/workbench.html
        p {
          color: rgb(169, 168, 168);
  
          /* text_16px (medium)(Lato) */
          font-family: "Lato";
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 16px */
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }
  // main
  
  .main {
    width: 1600px;
    height: auto;
  
    .main-1--container {
      width: 1200px;
      height: 596px;
      display: flex;
      flex-direction: column;
  
      h2 {
        color: $grey;
        text-align: center;
  
        font-family: "Raleway";
        font-size: 46px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        text-transform: uppercase;
      }
    }
    .designer {
      width: 384px;
      height: 458px;
      display: flex;
  
      img {
        width: 354px;
        height: 320px;
      }
    }
  }
  